@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-family: 'Poppins', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
}
#root {
  height: 100%;

}

html {
  height: 100%;
}

body {
  margin: 0;
  background-color: #eee;
  height: 100%;
}


.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

::-webkit-scrollbar{
  width: 10px;
  border-radius: 20px;
}

::-webkit-scrollbar-track{
  background: white;
  
}

::-webkit-scrollbar-thumb{
  background: #ccc;
  border-radius: 20px;

}


@keyframes bounceLoading {
  0%, 25% {
      transform: none;
  }
  12.5% {
      transform: translateY(-50%);
  }
}
.animate-bounceLoading1 {
  animation: bounceLoading 1s infinite;
}

.animate-bounceLoading2 {
  animation: bounceLoading 1s infinite;
  animation-delay: .25s;
}

.animate-bounceLoading3 {
  animation: bounceLoading 1s infinite;
  animation-delay: .5s;
}

.animate-bounceLoading4 {
  animation: bounceLoading 1s infinite;
  animation-delay: .75s;
}

